###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Make sure js files always have LF as line endings
###############################################################################
* eol=lf